
    <h2>Sign Up</h2>
    <form (ngSubmit)="onSubmit()">
      <input
        [(ngModel)]="username"
        name="username"
        placeholder="Username"
        required
      />
      <input
        [(ngModel)]="email"
        name="email"
        type="email"
        placeholder="Email"
        required
      />
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Password"
        required
      />
      <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
