header {
  padding: 3vw;
  nav {
    margin-bottom: 2vw;
    a {
      text-decoration: none;
      margin-right: 1vw;
      padding: 0.5vw 1vw;
      color: white;
      outline: none;
      border: none;
      border-radius: 0.3vw;
      cursor: pointer;
      &.logo {
        font-size: 1.5vw;
        font-weight: 800;
      }
    }
  }
}
