nav {
  margin-bottom: 2vw;
  a {
    text-decoration: none;
    margin-right: 1vw;
    padding: 0.5vw 1vw;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    border-radius: 0.3vw;
    cursor: pointer;
  }
}
