.container {
  padding: 2vw 10vw;
  .parts {
    margin-top: 1vw;
    display: flex;
    align-items: center;
    select {
      padding: 0.3vw 1vw;
      margin-left: 2vw;
      border-radius: 0.3vw;
      option {
        padding: 0.5vw 0;
      }
    }
  }

  .total {
    margin: 1.5vw 0;
    font-size: 1.5vw;
    font-weight: bold;
  }

  .quantity {
    border-radius: 0.3vw;
    margin: 1vw 0;
    input {
      margin-left: 0.5vw;
      background-color: #efefef;
      padding: 0.3vw 1vw;
    }
  }

  .add_to_cart {
    padding: 1vw 2vw;
  }
}
