<div class="container" *ngIf="data">
  <h2 class="text-3xl font-bold text-left mb-5">
    Product: {{ data.product.name }}
  </h2>
  <p class="text-xl font-bold">
    Base Price: {{ data.product.base_price | currency }}
  </p>
  <div *ngFor="let partType of data.part_types" class="parts">
    <h3>{{ partType.name }}</h3>
    <select [(ngModel)]="selectedOptions[partType.id]" (change)="updatePrice()">
      <option *ngFor="let option of partType.options" [value]="option.id">
        {{ option.name }} ({{ option.price | currency }})
      </option>
    </select>
  </div>
  <p class="total">Total Price: {{ totalPrice | currency }}</p>
  <button
    class="add_to_cart"
    class="bg-blue-500 text-white py-2 px-4 rounded"
    (click)="addToCart()"
  >
    Add to Cart
  </button>
</div>
