<div *ngIf="data">
  <h2>{{ data.product.name }}</h2>
  <p>Base Price: {{ data.product.base_price | currency }}</p>
  <div *ngFor="let partType of data.part_types" class="parts">
    <h3>{{ partType.name }}</h3>
    <select [(ngModel)]="selectedOptions[partType.id]" (change)="updatePrice()">
      <option *ngFor="let option of partType.options" [value]="option.id">
        {{ option.name }} ({{ option.price | currency }})
      </option>
    </select>
  </div>
  <p class="total">Total Price: {{ totalPrice | currency }}</p>
  <button class="add_to_cart" (click)="addToCart()">Add to Cart</button>
</div>
