<div class="container">
  <h2 class="text-3xl font-bold text-left mb-5">Your Cart</h2>
  @if(cartItems.length > 0){
  <ul>
    <li *ngFor="let item of cartItems">
      <strong class="text-xl font-bold">{{ item.product.name }}</strong> -
      <span class="text-xl font-bold">{{ item.price | currency }}</span>
      <br />
      Category: {{ item.product.category.name }} <br /><br />
      Base Price: {{ item.product.base_price | currency }}
      <ul>
        <span>Selected Options:</span>
        <li *ngFor="let option of item.selected_options; index as i">
          {{ i + 1 }}. {{ option.name }} - {{ option.price | currency }}
        </li>
      </ul>
      <p>Quantity: {{ item.quantity }}</p>
    </li>
  </ul>
  <br />
  <p class="text-xl font-bold">Total:{{ cartItems[0].price | currency }}</p>
  <br />
  <button class="bg-blue-500 text-white py-2 px-4 rounded" (click)="checkout()">
    Checkout
  </button>
  } @else {
  <p>Your cart is empty . . . Keep looking around . . .</p>
  }
</div>
